@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-lg-inner {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), /*  top shadow */
                    inset 0 -1px 2px rgba(0, 0, 0, 0.07); /*  bottom shadow */
      }
}
@layer components {
    .custom-table .ant-table-thead > tr > th {
      @apply bg-[#597C95] text-white;
    }
  }